.list {
  border: solid black 2px;
  background-color: white;
  justify-content: center;
}

.video-box {
  display: flex;
  justify-content: center;
}

.list-title {
  text-align: center;
  padding: 3px;
  font-size: 18px;
}

ul {
  width: 500px;
}
