.list {
  justify-content: center;
}
 .video-box {

}
 .list-title {
  text-align: center;
  padding: 3px;
  font-size: 18px;
}
 ul {
   list-style: none;
   display: flex;
}

li {
  background-color: white;
  border: solid black 2px;
}
